#EXT-SELFIES {
  position:fixed;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.95);
  top:0;
  left:0;
  display:none;
}

#EXT-SELFIES.shown {
  display:block;
}

#EXT-SELFIES .preview {
  z-index: 0;
  position: absolute;
  top: 50px;
  left: 50px;
  display:none;
  border-style: double;
}

#EXT-SELFIES .preview.shown {
  display:block;
}

#EXT-SELFIES .result {
  z-index: 0;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display:none;
}

#EXT-SELFIES .result.shown {
  display:block;
}

#EXT-SELFIES-BUTTON.hidden {
  display: none;
}

#EXT-SELFIES-BUTTON {
  margin-left: auto;
  margin-right: auto;
}

#EXT-SELFIES-BUTTON.buttonStyle {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

#EXT-SELFIES-BUTTON.uniqueFlash {
  opacity: 0;
  animation: flash normal 2s 1 ease-in;
}

#EXT-SELFIES-BUTTON.flash {
  opacity: 0;
  animation: blinkButton normal 2s infinite ease-in;
}

@keyframes blinkButton {
  0% {
      opacity:0;
  }
  50% {
      opacity:1;
  }
  100% {
      opacity:0;
  }
}

#EXT-SELFIES-PANNEL {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#EXT-SELFIES-PANNEL.shown {
  display: flex;
}

#EXT-SELFIES-RETRY {
  background-size: 100%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 1;
}

#EXT-SELFIES-VALIDATE {
  background-size: 100%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 1;
}

#EXT-SELFIES-EXIT {
  background-size: 100%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 1;
}
