#EXT-SELFIES {
  position:fixed;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.95);
  top:0;
  left:0;
  display:none;
}

#EXT-SELFIES.shown {
  display:block;
}

#EXT-SELFIES .window {
  position:absolute;
  width: 400px;
  height: 400px;
  top: calc((100% - 400px) / 2);
  left: calc((100% - 400px) / 2);
  box-sizing:border-box;
  border: 10px solid #FFF;
  background-color: Black;
  padding:20px;
  text-align:center;
  border-radius: 20px;
  display:none;
  flex-direction:column;
  justify-content: space-around;
}

#EXT-SELFIES .window.shown {
  display: flex;
}

#EXT-SELFIES .message {
  font-family: cursive, 'Pacifico';
  font-size: 30px;    
  font-weight:bold;
  color: #37f713;
  text-shadow:
    0 0 7px #37f713,
    0 0 10px #37f713,
    0 0 21px #37f713,
    0 0 42px #37f713,
    0 0 82px #0fa,
    0 0 92px 
    0 0 102px #0fa;
  height:60px;
}

#EXT-SELFIES .count {
  font-family: cursive, 'Pacifico';
  font-size:180px;
  font-weight:bold;
  color:#37f713;
  text-shadow:
    0 0 7px #37f713,
    0 0 10px #37f713,
    0 0 21px #37f713,
    0 0 42px #0fa,;
  height: 200px;
  line-height: 80%;
}

#EXT-SELFIES .result {
  z-index: 0;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display:none;
}

#EXT-SELFIES .result.shown {
  display:block;
}

#EXT-SELFIES-BUTTON.hidden {
  display: none;
}

#EXT-SELFIES-BUTTON {
  background-size: 100%;
  width: 400px;
  height: 402px;
  margin-left: 250px;
}

#EXT-SELFIES-BUTTON.flash {
  opacity: 1;
  animation: flash normal 2.2s infinite ease-in;
}

@keyframes flash {
  0% {
      opacity:1;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}

#EXT-SELFIES-PANNEL {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#EXT-SELFIES-PANNEL.shown {
  display: flex;
}

#EXT-SELFIES-RETRY {
  background-size: 100%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 1;
}

#EXT-SELFIES-VALIDATE {
  background-size: 100%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 1;
}

#EXT-SELFIES-EXIT {
  background-size: 100%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 1;
}
